<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238144672947-i2n8uat7ft87c9m6lnjrb3h06ot9718c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238144672947-i2n8uat7ft87c9m6lnjrb3h06ot9718c</string>
	<key>API_KEY</key>
	<string>AIzaSyDvp5z4Tn1cc4sOaSKTdH2JQYViaMslTpM</string>
	<key>GCM_SENDER_ID</key>
	<string>238144672947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.culturapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>culturapp-82c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>culturapp-82c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238144672947:ios:4b41fd0b28f8637dfe0cc6</string>
</dict>
</plist>